.badges-image {
  height: 20px;
}

.emote-image {
  height: 20px;
}

.name-date {
  font-size: smaller;
  margin-bottom: 0px !important;
  display: inline-block;
  margin-right: 5px;
}

.name-text {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0px !important;
  display: inline-block;
}

.message-reply {
  font-size: smaller;
  font-style: oblique;
  color: white;
  margin-bottom: 0px;
}

.message-text {
  color: white;
  margin-bottom: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
}

.message-text-none {
  color: white;
}

.mdc-list-item {
  padding-left: 5px !important;
}

.list {
  max-height: 800px;
  overflow: scroll;
}

.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before,
.mdc-list-item--with-three-lines .mdc-list-item__primary-text::before,
.mdc-list-item__secondary-text::before {
  content: none !important;
}

.mdc-list-item.mdc-list-item--with-three-lines {
  height: auto !important;
}

.mat-mdc-list-item.mdc-list-item--with-three-lines
  .mat-mdc-list-item-line.mdc-list-item__secondary-text {
  white-space: wrap !important;
  word-break: break-word;
  color: #ffffff;
}

.mat-typography p {
  margin: 0 0 0px;
}

.mdc-list-item.mdc-list-item--with-two-lines {
  height: initial !important;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep .mat-list .mat-list-item {
  height: initial !important;
}

@media (max-height: 800px) {
  .list {
    max-height: 300px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-right: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.item {
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(255, 255, 255);
}
