<div class="chats">
  <div *ngIf="isVerticalChat === false">
    <app-on-screen-chat-horizontal
      [displayChatMessages]="displayChatMessages"
      [useSignalR]="false"
    ></app-on-screen-chat-horizontal>
  </div>
  <div *ngIf="isVerticalChat">
    <app-on-screen-chat
      [displayChatMessages]="displayChatMessages"
      [useSignalR]="false"
    ></app-on-screen-chat>
  </div>
</div>
<div class="alerts">
  <div class="fullscreen">
    <app-fullscreen [htmldata]="htmldata" [useSignalR]="false"></app-fullscreen>
  </div>
  <div class="highlight-message">
    <app-highlight-message
      [displayChatMessage]="displayChatMessage"
      [useSignalR]="false"
    ></app-highlight-message>
  </div>
  <div class="text-message">
    <app-text-message
      [message]="message"
      [useSignalR]="false"
    ></app-text-message>
  </div>
</div>
