<div class="info-box">
  <!--<ng-container [ngSwitch]="selectedFormType$ | async"> </ng-container>-->
  <div>
    <button (click)="addData()">Add</button>
    <button (click)="removeData()">Remove</button>
    <div class="list frame" (scroll)="scrolled($event)" #scrollframe>
      <mat-list>
        @for (shoe of chatMessages; track shoe) {
        <mat-list-item class="item" #item>
          <div matListItemTitle [innerHTML]="shoe.SaveName"></div>
          <div matListItemLine [innerHTML]="shoe.SaveMessage"></div>
        </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
</div>
