<div class="edit-overlay" (click)="closeEdit()">
  <div class="edit-content" (click)="$event.stopPropagation()">
    <h2>Edit Command {{ command.id }}</h2>
    <form class="example-form">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Command</mat-label>
            <input matInput value="{{ command.command }}" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Response</mat-label>
            <input matInput value="{{ command.response }}" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput value="{{ command.description }}" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-slide-toggle labelPosition="before" [checked]="command.active">
            Active
          </mat-slide-toggle>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Auth</mat-label>
            <mat-select [(ngModel)]="authEnum[command.auth]" name="auth">
              @for (auth of authList; track auth) {
              <mat-option [value]="auth">{{ auth }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="categoryEnum[command.category]"
              name="category"
            >
              @for (category of categoryList; track category) {
              <mat-option [value]="category">{{ category }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <button class="exitButton" (click)="closeEdit()">Close</button>
  </div>
</div>
