<p>chats works!</p>
<div class="col">
  <div class="col1">
    <!-- All Chat (no event Chat) -->
    <p class="title">All Chat</p>
    <app-all-chat-page></app-all-chat-page>
  </div>
  <div class="col2">
    <p class="title">Event Chat</p>
    <!-- Events Chat (sub, follow, Raid, Bits) -->
  </div>
  <div class="col3">
    <p class="title">Friend Chat</p>
    <!-- Friend Chat (Verified, VIP, Friends) -->
  </div>
  <div class="col4">
    <p class="title">Mod Chat</p>
    <!-- Mod Chat (mods, Twitch dev / Staff) -->
  </div>
  <div class="col5">
    <p class="title">Streamer Chat</p>
    <!-- Streamer Chat -->
  </div>
  <div class="col6">
    <p class="title">Translated Chat</p>
    <!-- Translated Chat (all messages that are not in english or german) -->
  </div>
  <div class="col7">
    <p class="title">Users to be watched</p>
    <!-- User review / to be watched -->
  </div>
  <div class="col8">
    <p class="title">Mod Actions</p>
    <!-- Mod Events (timeout, delete, ban) -->
  </div>

  <div class="col9">
    <p class="title">Twitch Chat</p>
    <!-- Twitch Chat -->
  </div>
  <div class="col10">
    <p class="title">Youtube Chat</p>
    <!-- Youtube Chat -->
  </div>
</div>
