.col {
  display: flex;
  overflow-x: scroll;
}

.col div {
  flex: 1;
  min-width: 300px;
  border-radius: solid 3px;
  border: solid;
  border-color: wheat;
  margin-right: 5px;
}

.col2 {
  color: white;
}

.title {
  color: white;
  border-bottom: solid;
  text-align: center;
  font-weight: bold;
}

.checkbox {
  margin: 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
  border: solid;
  border-width: 1px;
  border-color: white;
}
