.col {
  display: flex;
  overflow-x: scroll;
}

.col div {
  flex: 1;
  min-width: 500px;
  border-radius: solid 3px;
  border: solid;
  border-color: wheat;
  margin-right: 5px;
}

.col2 {
  color: white;
}

.title {
  color: white;
  border-bottom: solid;
  text-align: center;
  font-weight: bold;
}
