<p>chats works!</p>
<div class="col">
  <div class="col1">
    <!-- All Chat (no event Chat and mods messages) -->
    <app-all-chat-page></app-all-chat-page>
  </div>
  <div class="col2">
    <!-- Events Chat (sub, follow, Raid, Bits) -->
  </div>
  <div class="col3">
    <!-- Friend Chat (Verified, VIP, Friends) -->
  </div>
  <div class="col4">
    <!-- Mod Chat (mods, Twitch dev / Staff) -->
  </div>
  <div class="col5">
    <!-- Translated Chat (all messages that are not in english or german) -->
  </div>
  <div class="col5">
    <!-- Mod Events (timeout, delete, ban) -->
  </div>

  <div class="col2">
    <!-- Twitch Chat -->
  </div>
  <div class="col2">
    <!-- Youtube Chat -->
  </div>
</div>
