.cols-link {
  visibility: hidden !important;
  height: 0px;
}

mat-list.list-horizontal {
  padding: 0;
  display: inline-flex;
  .mat-list-item {
    display: inline-block;
    height: 30px;
    width: auto;
  }
}

.list {
  max-width: 2560px;
  overflow: hidden;
}

.badges-image {
  height: 30px;
  margin-top: 7px;
}

.emote-image {
  height: 40px;
}

.emote-image-only {
  height: 80px;
}

.name-date {
  font-size: smaller;
  margin-bottom: 0px !important;
  display: inline-block;
  margin-right: 5px;
}

.name-text {
  font-size: xx-large;
  margin-bottom: 0px !important;
  display: inline-block;
  text-shadow: 0.5px 0 #fff, -0.5px 0 #fff, 0 0.5px #fff, 0 -0.5px #fff,
    0.5px 0.5px #fff, -0.5px -0.5px #fff, 0.5px -0.5px #fff, -0.5px 0.5px #fff;
}

.message-reply {
  font-size: large;
  font-style: oblique;
  color: white;
  margin-bottom: 0px;
}

.message-text {
  font-size: x-large;
  color: white;
  margin-bottom: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  padding-top: 5px;
}

.message-text-none {
  color: white;
  margin-bottom: 0px;
  word-wrap: break-word;
  display: inline-block;
}

.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before,
.mdc-list-item--with-three-lines .mdc-list-item__primary-text::before,
.mdc-list-item__secondary-text::before {
  content: none !important;
}

.mdc-list-item.mdc-list-item--with-three-lines {
  height: auto !important;
}

.mat-mdc-list-item.mdc-list-item--with-three-lines
  .mat-mdc-list-item-line.mdc-list-item__secondary-text {
  white-space: wrap !important;
  word-break: break-word;
  color: #ffffff;
}

.mat-mdc-list-item {
  width: auto !important;
}

.mdc-list-item.mdc-list-item--with-two-lines {
  height: initial !important;
}

.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.item {
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0);
}
